<!-- Importing boilerplate -->
<% layout('layouts/boilerplate') %>
    <!-- Importing the navbar partial -->
    <%- include ('../partials/navbar') %>
        <!-- Show a particular product -->
        <div class="row" style="margin-top: 6rem !important;">
            <div class="d-flex justify-content-end px-4">
                <!-- Importing flash partial -->
                <%- include ('../partials/flash.ejs') %>
            </div>
            <div class="col-md-6 mx-auto mt-4 p-5 rounded shadow">
                <h1 class="display-6 text-center">Login</h1>
                <form action="/login" method="POST">
                    <div class="mt-3">
                        <label class="form-label" for="username">Username: </label>
                        <input class="form-control" type="text" name="username" id="username"
                            placeholder="Enter your username">
                    </div>
                    <div class="mt-3">
                        <label class="form-label" for="password">Password: </label>
                        <input class="form-control" type="password" name="password" id="password"
                            placeholder="Enter your password">
                    </div>
                    <button type="submit" class="mt-3 btn btn-sm btn-success">Login</button>
                    <p class="fw-light mt-3">Don't have an account, <a href="/signup">Sign up</a></p>
                </form>
            </div>
        </div>