<!-- Importing the boilerplate file -->
<% layout('layouts/boilerplate') %>
    <!-- Display all the products -->
    <section class="position-absolute top-50 start-50 translate-middle border border-black p-5 shadow rounded">
        <h3 class="fw-semibold" style="word-spacing: 2px;">
            Forgot to add something to your cart? Shop around then come back to pay!
        </h3>
        <a href="/products" class="link-dark link-offset-2" style="word-spacing: 1px;">Continue Shopping</a>
    </section>