<!-- Importing the boilerplate file -->
<% layout('layouts/boilerplate') %>
    <!-- Display all the products -->
    <section class="position-absolute top-50 start-50 translate-middle border border-black p-5 shadow rounded">
        <h3 class="fw-semibold" style="letter-spacing: 1px;">Thanks for shopping with us!</h3>
        <p class="fw-semibold" style="letter-spacing: 0.5px;">Your order has been placed successfully.</p>
        <p style="word-spacing: 1px;">
            For any product related query! Drop an email to
            <br>
            <a href="mailto:ecommerce@example.com" class="link-dark link-offset-1">ecommerce@example.com</a>.
        </p>
        <a href="/products" class="link-dark link-offset-2" style="word-spacing: 1px;">Continue Shopping</a>
    </section>