<!-- Importing boilerplate -->
<% layout('layouts/boilerplate') %>
    <!-- Importing navbar partial -->
    <%- include ('../partials/navbar') %>
        <!-- Form to add a new product -->
        <form class="mt-3 p-4 needs-validation" style="margin-top: 5rem !important;" action="/products" method="POST"
            novalidate>
            <div class="row mb-3">
                <label for="image" class="col-sm-2 col-form-label">Img: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="img" id="image" placeholder="Image Link" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide the image link.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Product Name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide the name of product.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="price" class="col-sm-2 col-form-label">Price: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="price" id="price" placeholder="Product Price"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide the price of product.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label">Description: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="desc" id="description"
                        placeholder="Product Description" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide description of product.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>

        <script>
            // iife (inmediately invoked function expression)
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>